{% extends 'base.html' %}
{% block title %} Articulos {% endblock %}

{% block content %}
    <main class="articulos">
        {% for articulo in articulos %}
        <form action="" class="articulos__articulo">
            <p class="articulos__articulo__nombre">{{ articulo.nombre }}</p>
            <input type="number" name="individual1" class="articulos__articulo__precio" value="{{ articulo.precio1 }}" />
            <input type="number" name="individual2" class="articulos__articulo__precio" value="{{ articulo.precio2 }}" />
            <input type="number" name="individual3" class="articulos__articulo__precio" value="{{ articulo.precio3 }}" />
            <input type="number" name="individual4" class="articulos__articulo__precio" value="{{ articulo.precio4 }}" />
            <button type="submit" class="articulos__articulo__submit">Actualizar</button>
        </form>
        {% endfor %}
        
    </main>
    {% endblock %}