{% extends 'base.html' %}
{% block title %} Articulos {% endblock %}

{% block content %}
    <main class="articulos">
        <form action="" class="articulos__articulo">
            <p class="articulos__articulo__nombre">Habitación individual</p>
            <input type="number" name="individual1" class="articulos__articulo__precio">
            <input type="number" name="individual2" class="articulos__articulo__precio">
            <input type="number" name="individual3" class="articulos__articulo__precio">
            <input type="number" name="individual4" class="articulos__articulo__precio">
            <button type="submit" class="articulos__articulo__submit">Actualizar</button>
        </form>
        <form action="" class="articulos__articulo">
            <p class="articulos__articulo__nombre">Habitación doble</p>
            <input type="number" name="doble1" class="articulos__articulo__precio">
            <input type="number" name="doble2" class="articulos__articulo__precio">
            <input type="number" name="doble3" class="articulos__articulo__precio">
            <input type="number" name="doble4" class="articulos__articulo__precio">
            <button type="submit" class="articulos__articulo__submit">Actualizar</button>
        </form>
        <form action="" class="articulos__articulo">
            <p class="articulos__articulo__nombre">Habitación triple</p>
            <input type="number" name="triple1" class="articulos__articulo__precio">
            <input type="number" name="triple2" class="articulos__articulo__precio">
            <input type="number" name="triple3" class="articulos__articulo__precio">
            <input type="number" name="triple4" class="articulos__articulo__precio">
            <button type="submit" class="articulos__articulo__submit">Actualizar</button>
        </form>
        <form action="" class="articulos__articulo">
            <p class="articulos__articulo__nombre">Habitación Cuadruple</p>
            <input type="number" name="cuadruple1" class="articulos__articulo__precio">
            <input type="number" name="cuadruple2" class="articulos__articulo__precio">
            <input type="number" name="cuadruple3" class="articulos__articulo__precio">
            <input type="number" name="cuadruple4" class="articulos__articulo__precio">
            <button type="submit" class="articulos__articulo__submit">Actualizar</button>
        </form>
        <form action="" class="articulos__articulo">
            <p class="articulos__articulo__nombre">Desayuno</p>
            <input type="number" name="desayuno1" class="articulos__articulo__precio">
            <input type="number" name="desayuno2" class="articulos__articulo__precio">
            <input type="number" name="desayuno3" class="articulos__articulo__precio">
            <input type="number" name="desayuno4" class="articulos__articulo__precio">
            <button type="submit" class="articulos__articulo__submit">Actualizar</button>
        </form>
    </main>
    {% endblock %}