{% extends 'base.html' %}
{% block title %} Nueva Factura {% endblock %}
{% load static %}
{% block content %}
<main class="plantilla">
    <div class="plantilla__info">
        <div class="plantilla__info__data">
            <h2 class="plantilla__info__title">Hotel "Corona de Castilla"</h2>
            <p class="plantilla__info__text">Ctra. Zamora, Nº 24</p>
            <p class="plantilla__info__text">Tfnos.: 923 25 54 11 / 923 25 58 51</p>
            <p class="plantilla__info__text">Fax 923 25 54 11</p>
            <p class="plantilla__info__text--bold">37184 VILLARES DE LA REINA SALAMANCA</p>
            <p class="plantilla__info__text">Email: coronahotel@hotmail.com</p>
            <p class="plantilla__info__text">www.h.coronadecastilla.es</p>
        </div>
        <div class="plantilla__info__data">
            <h2 class="plantilla__info__title">FACTURA</h2>
        </div>
    </div>
    <form action="" class="plantilla__form" id="facturaForm" method="POST">
        {% csrf_token %}
        <div class="plantilla__form__articulos no-print"></div>
        <div class="plantilla__form__articulos__fields">
            <p class="plantilla__form__articulos__fields__field" onclick="showFields()">AÑADIR HABITACIÓN</p>
        </div>
        </div>

        <div class="plantilla__form__basico">
            <p class="plantilla__form__basico__field">CLIENTE</p>
            {{ form.cliente }}
        </div>
        <div class="plantilla__form__articulos">
            <div class="plantilla__form__articulos__fields">
                <p class="plantilla__form__articulos__fields__field">NUMERO FACTURA</p>
                <p class="plantilla__form__articulos__fields__field">FECHA ENTRADA</p>
                <p class="plantilla__form__articulos__fields__field">FECHA SALIDA</p>
            </div>
            <div class="plantilla__form__articulos__inputs">
                {{ form.numero_factura}}
                {{ form.fecha_entrada }}
                {{ form.fecha_salida }}
            </div>
        </div>

        <table class="plantilla__form__tabla">
            <thead class="plantilla__form__tabla__thead">
                <tr class="plantilla__form__tabla__thead__trow">
                    <td class="plantilla__form__tabla__thead__trow__tdata"></td>
                    <td class="plantilla__form__tabla__thead__trow__tdata">HABITACION (TIPO)</td>
                    <td class="plantilla__form__tabla__thead__trow__tdata">HABITACION Nº</td>
                    <td class="plantilla__form__tabla__thead__trow__tdata">DIAS</td>
                    <td class="plantilla__form__tabla__thead__trow__tdata">EUROS</td>
                    <td class="plantilla__form__tabla__thead__trow__tdata">IMPORTE</td>
                </tr>
            </thead>
            {{ habitacion_formset.management_form }} <!-- Añadir los campos ocultos del formset -->

            <tbody class="plantilla__form__tabla__tbody">
                <tr class="plantilla__form__tabla__tbody__trow">
                    <td class="plantilla__form__tabla__tbody__trow__tdata">DESAYUNOS</td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata"></td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata"></td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ form.desayuno_dias }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ form.desayuno_precio }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata" id="desayunoResult"></td>
                </tr>
                <tr class="plantilla__form__tabla__tbody__trow" id="alojamientoClonar">
                    <td class="plantilla__form__tabla__tbody__trow__tdata">ALOJAMIENTO</td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion_formset.empty_form.tipo_habitacion }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion_formset.empty_form.numero_habitacion }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion_formset.empty_form.alojamiento_dias }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion_formset.empty_form.alojamiento_precio }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata" id="alojamientoResult"></td>
                </tr>
                {% for habitacion in habitacion_formset %}
                <tr class="plantilla__form__tabla__tbody__trow">
                    <td class="plantilla__form__tabla__tbody__trow__tdata">ALOJAMIENTO</td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion.tipo_habitacion }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion.numero_habitacion }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion.alojamiento_dias }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata">
                        {{ habitacion.alojamiento_precio }}
                    </td>
                    <td class="plantilla__form__tabla__tbody__trow__tdata" id="alojamientoResult"></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

        <div class="plantilla__form__articulos">
            <div class="plantilla__form__articulos__fields">
                <p class="plantilla__form__articulos__fields__field">BASE IMPONIBLE</p>
                <p class="plantilla__form__articulos__fields__field">% IVA</p>
                <p class="plantilla__form__articulos__fields__field">IMPORTE IVA</p>
                <p class="plantilla__form__articulos__fields__field">TOTAL FACTURA</p>
            </div>
            <div class="plantilla__form__articulos__inputs">
                {{ form.base_imponible}}
                {{ form.porcentaje_iva}}
                {{ form.importe_iva}}
                {{ form.total_factura}}
            </div>
        </div>
    </form>

    <div class="plantilla__form__basico">
        <p class="plantilla__form__basico__field">NUMERO DE CUENTA</p>
        {{ form.numero_cuenta }}
    </div>

    <div class="plantilla__buttons no-print">
        <button class="plantilla__buttons__button" type="submit" form="facturaForm">Guardar Factura</button>
        <button class="plantilla__buttons__button" onclick="print()">Imprimir Factura</button>
    </div>

    <footer class="plantilla__footer">
        <p class="plantilla__footer__text">
            <span class="plantilla__footer__text__bigger">CORONA ASENSIO, S.L. - C.I.F. B-56831837</span> · La
            recogida y uso de datos se hará de acuerdo con la ley orgánica 15/1999 de 13 de Diciembre <span
                class="plantilla__footer__text__bolder">de protección de datos de carácter personal y al amparo de
                lo
                dispuesto en el artículo 12.1 de la ley orgánica</span> 01/1992 de 21 de Febrero sobre protección de
            la seguridad ciudadana.
        </p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'resources/js/facturaForm.js' %}"></script>
<script src="{% static 'resources/js/facturasAll.js' %}"></script>
{% endblock %}