{% extends 'base.html' %}
{% load static %}
{% block title %} Nuevo Cliente {% endblock %}

{% block content %}
<main class="plantilla">
    <form action="" class="plantilla__form" id="clienteForm" method="POST">
        {% csrf_token %}
        <div class="plantilla__form__articulos">
            <div class="plantilla__form__articulos__fields">
                <p class="plantilla__form__articulos__fields__field">NOMBRE CLIENTE</p>
                <p class="plantilla__form__articulos__fields__field">DIRECCIÓN</p>
                <p class="plantilla__form__articulos__fields__field">CÓDIGO POSTAL</p>
                <p class="plantilla__form__articulos__fields__field">N.I.F</p>
            </div>
            <div class="plantilla__form__articulos__inputs">
                {{ form.nombre }}
                {{ form.direccion }}
                {{ form.codigo_postal }}
                {{ form.nif }}
            </div>
        </div>
    </form>

    <div class="plantilla__buttons no-print">
        <button class="plantilla__buttons__button" type="submit" form="clienteForm">Guardar Cliente</button>
    </div>
</main>
{% endblock %}