{% extends 'base.html' %}
{% load static %}
{% block title %} Facturas {% endblock %}

{% block content %}
<main class="main">
    <div class="main__buttons">
        <button class="main__buttons__create" onclick="window.location.href= `{% url 'nuevaFactura' %}`">Crear
            Factura</button>
        {% if request.GET.mes and request.GET.año %}
        <button class="main__buttons__create"
            onclick="window.location.href = 
        `{% url 'exportar_facturas' mes_actual=request.GET.mes año_actual=request.GET.año %}?cliente={{ request.GET.cliente|default:'' }}`">Descargar
            resumen de facturas</button>
        {% endif %}
    </div>
    <div class="main__filter">
        <form id="filter-client-form" action="{% url 'facturas' %}" method="GET">
            <input type="text" name="cliente" placeholder="Buscar por nombre de cliente" class="main__filter__input"
                value="{{ request.GET.cliente }}">

            <input type="checkbox" label="Enero" name="mes" value="01">01
            <input type="checkbox" label="Febrero" name="mes" value="02">02
            <input type="checkbox" label="Marzo" name="mes" value="03">03
            <input type="checkbox" label="Abril" name="mes" value="04">04
            <input type="checkbox" label="Mayo" name="mes" value="05">05
            <input type="checkbox" label="Junio" name="mes" value="06">06
            <input type="checkbox" label="Julio" name="mes" value="07">07
            <input type="checkbox" label="Agosto" name="mes" value="08">08
            <input type="checkbox" label="Septiembre" name="mes" value="09">09
            <input type="checkbox" label="Octubre" name="mes" value="10">10
            <input type="checkbox" label="Noviembre" name="mes" value="11">11
            <input type="checkbox" label="Diciembre" name="mes" value="12">12
            <input type="number" name="año" placeholder="Año" class="main__buttons__find__create" required>
            <button class="main__buttons__create" type="submit">Mostrar</button>
        </form>
    </div>
    <a href="{% url 'facturas' %}?closed=none" class="main__buttons__create">Facturas no cerradas</a>
    <a href="{% url 'facturas' %}" class="main__buttons__create">Facturas cerradas</a>
    <table class="main__table">
        <thead class="main__table__head">
            <tr class="main__table__head__row">
                <th class="main__table__head__row__th">Nº Factura</th>
                <th class="main__table__head__row__th">Fecha Exp.</th>
                <th class="main__table__head__row__th">Cliente</th>
                <th class="main__table__head__row__th">Descripción</th>
            </tr>
        </thead>
        <tbody class="main__table__body">
            {% for factura in facturas %}
            <tr class="main__table__body__row"
                onclick="window.location.href= `{% url 'facturaDetails' factura_id=factura.id %}`">
                <td class="main__table__body__row__th">{{ factura.numero_factura }}</td>
                <td class="main__table__body__row__th">{{ factura.fecha_salida }}</td>
                <td class="main__table__body__row__th">{{ factura.cliente_nombre }}</td>
                <td class="main__table__body__row__th">{{ factura.habitacion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="main__total">
        <p class="main__total__text">Total Facturado: </p>
        <input type="text" class="main__total__input" value="{{ total_facturado}}">
    </div>
</main>
<script src="{% static 'resources/js/facturasAll.js' %}"></script>
{% endblock %}