{% extends 'base.html' %}
{% load static %}
{% block title %} Facturas {% endblock %}

{% block content %}
<main class="plantilla">
    <form action="{% url 'clienteDetails' cliente.id %}" method="POST" class="plantilla__form" id="editForm">
        {% csrf_token %}
        <div class="plantilla__form__articulos">
            <div class="plantilla__form__articulos__fields">
                <p class="plantilla__form__articulos__fields__field">NOMBRE CLIENTE</p>
                <p class="plantilla__form__articulos__fields__field">DIRECCIÓN</p>
                <p class="plantilla__form__articulos__fields__field">CÓDIGO POSTAL</p>
                <p class="plantilla__form__articulos__fields__field">N.I.F</p>
            </div>
            <div class="plantilla__form__articulos__inputs">
                {{ form.nombre }}
                {{ form.direccion }}
                {{ form.codigo_postal }}
                {{ form.nif }}
            </div>
        </div>
    </form>

    <div class="plantilla__buttons no-print">
        <button class="plantilla__buttons__button"  type="submit" form="editForm">Actualizar Cliente</button>
        <form action="{% url 'eliminaCliente' cliente_id=cliente.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <button class="plantilla__buttons__button plantilla__buttons__button--eliminar" type="submit">Eliminar
                Cliente</button>
        </form>
    </div>
    <div class="plantilla__buttons no-print"></div>
        <form action="{% url 'nuevaFactura' %}" method="GET" style="display:inline;">
            {% csrf_token %}
            <button class="plantilla__buttons__button plantilla__buttons__button--eliminar" type="submit" form="editForm">Nueva Factura</button>
        </form>
    </div>
</main>
{% endblock %}