<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/index.css">
    <title>Facturación | clientes</title>
</head>

<body>
    <header class="header">
        <ul class="header__list">
            <li class="header__list__item">Inicio</li>
            <li class="header__list__item">Facturas</li>
            <li class="header__list__item">clientes</li>
        </ul>
    </header>
    <main class="main">
        <div class="main__buttons">
            <button class="main__buttons__create">Crear cliente</button>
            <div class="main__buttons__find">
                <p class="main__buttons__find__text">Obtener: </p>
                <select class="main__buttons__find__select">
                    <option value="todas">Todas</option>
                    <option value="mes">Último mes</option>
                    <option value="meses">Últimos 3 meses</option>
                </select>
            </div>
        </div>
        <table class="main__table">
            <thead class="main__table__head">
                <tr class="main__table__head__row">
                    <th class="main__table__head__row__th">Nombre</th>
                    <th class="main__table__head__row__th">N.I.F</th>
                </tr>
            </thead>
            <tbody class="main__table__body">
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">INDUSTRIAS LUPY S.L.</td>
                    <td class="main__table__body__row__th">A-24089021</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>