<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/index.css">
    <title>Facturación | facturas</title>
</head>

<body>
    <header class="header">
        <ul class="header__list">
            <li class="header__list__item">Inicio</li>
            <li class="header__list__item">Facturas</li>
            <li class="header__list__item">Artículos</li>
        </ul>
    </header>
    <main class="main">
        
    </main>
</body>

</html>