<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/index.css">
    <title>Facturación | facturas</title>
</head>

<body>
    <header class="header">
        <ul class="header__list">
            <li class="header__list__item">Inicio</li>
            <li class="header__list__item">Facturas</li>
            <li class="header__list__item">Artículos</li>
        </ul>
    </header>
    <main class="main">
        <div class="main__buttons">
            <button class="main__buttons__create">Crear Factura</button>
            <div class="main__buttons__find">
                <p class="main__buttons__find__text">Buscar por: </p>
                <select class="main__buttons__find__select">
                    <option value="cliente">Cliente</option>
                    <option value="mes">Mes</option>
                    <option value="año">Año</option>
                </select>
                <input type="text" class="main__buttons__find__input">
            </div>
        </div>
        <table class="main__table"></table>
    </main>
</body>

</html>