<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/index.css">
    <title>Facturación | facturas</title>
</head>

<body>
    <header class="header">
        <ul class="header__list">
            <li class="header__list__item">Inicio</li>
            <li class="header__list__item">Facturas</li>
            <li class="header__list__item">Artículos</li>
        </ul>
    </header>
    <main class="main">
        <div class="main__buttons">
            <button class="main__buttons__create">Crear Factura</button>
            <div class="main__buttons__find">
                <p class="main__buttons__find__text">Buscar por: </p>
                <select class="main__buttons__find__select">
                    <option value="cliente">Cliente</option>
                    <option value="mes">Mes</option>
                    <option value="año">Año</option>
                </select>
                <input type="text" class="main__buttons__find__input">
            </div>
        </div>
        <table class="main__table">
            <thead class="main__table__head">
                <tr class="main__table__head__row">
                    <th class="main__table__head__row__th">Nº Factura</th>
                    <th class="main__table__head__row__th">Fecha Exp.</th>
                    <th class="main__table__head__row__th">Cliente</th>
                    <th class="main__table__head__row__th">Descripción</th>
                </tr>
            </thead>
            <tbody class="main__table__body">
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">001</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Antonio S.L.</td>
                    <td class="main__table__body__row__th">Habitación doble</td>
                </tr>
                <tr class="main__table__body__row">
                    <td class="main__table__body__row__th">002</td>
                    <td class="main__table__body__row__th">26/06/2024</td>
                    <td class="main__table__body__row__th">Piensos S.L.</td>
                    <td class="main__table__body__row__th">Habitación simple</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>